.widgetSmall {
  flex: 1;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  padding: 20px;
  margin-right: 20px;
}

.widgetSmallTitle {
  font-size: 22px;
  font-weight: 600;
}

.widgetLargeTable {
  width: 100%;
  border-spacing: 20px;
}

.widgetLargeTh {
  text-align: left;
}

.widgetLargeUser {
  display: flex;
  align-items: center;
}

.widgetSmallImage {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.widgetLargeUsername {
  font-weight: 600;
  margin-left: 10px;
}

.widgetSmallList {
  margin: 0;
  padding: 0;
  list-style: none;
}

.widgetSmallListItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0px;
}

.widgetSmallUser {
  display: flex;
  flex-direction: column;
}

.widgetSmallUsername {
  font-weight: 600;
}

.widgetSmallUserTitle {
  font-weight: 300;
}

.widgetSmallButton {
    display: flex;
    align-items: center;
    border: none;
    border-radius: 5px;
    padding: 7px 10px;
    background-color: rgb(202, 228, 228);
    color: rgb(102, 166, 166);
    cursor: pointer;
}

.widgetSmallIcon {
    font-size: 16px !important;
    margin-right: 5px;
}